
#course-panel {

	.container-fluid {
		max-width: 100%;

		.row > div {
			margin-bottom: 20px;
		}
	}

	.teacher-panel,
	.student-panel-a,
	.student-panel-b {
		padding: 30px 15px 10px 15px;
	}




	.teacher-panel,
	.student-panel-a {
		.box {
			@include mb2_border_radius(.15rem);
			border: solid 1px $color_box_border;
			background-color: $color_box_bg;
			margin: 0 0 20px 0;

			> h3 {
				background-color: $accent1;
				background-image: url([[pix:theme|svg/strip2_white8]]);
				color: #fff;
				font-size: $fsbig;
				margin: -1px -1px 0 -1px;
				padding: 9px 15px;
				@include mb2_border_radius(.15rem .15rem 0 0);
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;

				i {
					margin-right: 12px;
				}
			}


			/* Custom colors */

			&.box-qbank,
			&.box-contacts,
			&.box-modulenav {
				> h3 {
					background-color: $color_info;
				}
			}


			&.box-badges,
			&.box-badges2 {
				> h3 {
					background-color: $color_warning;
				}
			}


			&.box-students,
			&.box-students2 {
				> h3 {
					background-color: $color_success;
				}
			}



			/* Course box */

			&.box-course {
				background-color: transparent;
				border: 0;

				> h3 {
					@include mb2_border_radius(0);
					margin: 0 0 13px 0;
				}
			}




			&.box-contacts {
				> ul {

					margin: 0;
					padding: 0;

					> li {
						@include clearfix();
						padding: 8px 15px;
						border-bottom: solid 1px $color_box_border;

						&:last-child {
							border: 0;
						}
					}
				}

				.user-picture {
					float: left;
					margin-right: 10px;
				}

				.rolename {
					font-weight: bold;
				}


				.user-contacts {
					font-size: $fssmall;
					margin-top: .3rem;

					i {
						margin: 0 3px;
					}

					> span {
						display: block;
					}

					a {
						color: inherit;
					}
				}

			}


		}
	}



	.student-panel-a {
		.box {
			margin-bottom: 0;
		}
	}



	.boxlist {
		margin: 0;
		padding: 0;

		ul {
			margin: 0;
			padding: 0 0 .25rem .6rem;
			background-color: rgba(0,0,0,.035);
			position: relative;
			top: -1px;
			border-top: solid 1px $color_box_border;
		}

		> li {
			margin: 0;
			padding: 0;


			a {
				display: block;
				color: $textcolor;

				&:hover,
				&:focus {
					color: $linkcolor;
				}
			}

			> span {
				display: block;
			}

			> a,
			> span {
				padding: .42rem 1rem;
				border-bottom: solid 1px $color_box_border;

				> img {
					margin-right: .85rem;
					width: 1.18rem;
					height: 1.18rem;
				}
			}

			> a {
				&:hover,
				&:focus {
					background-color: darken($color_box_bg,3%);
				}

				position: relative;

				> .details {
					font-size: $fssmall;
					background-color: $accent1;
					display: inline-block;
					vertical-align: top;
					margin: -2px 7px 0 7px;
					height: 20px;
					line-height: 20px;
					color: #fff;
					padding: 0 5px;
					@include mb2_border_radius(3px);
				}
			}

			&:last-child {
				> a {
					border: 0;
				}
			}


			> span {
				position: relative;
				outline: none;

				&.nolink-item {
					background-color: rgba(0,0,0,.04);
					font-weight: bold;
				}
			}


			ul {
				display: none;

				li > a,
				li > span {
					padding: .35rem .6rem;
					display: block;
				}

				li > span {
					font-weight: bold;
				}
			}

		}
	}


	.boxlist-toggle {
		position: absolute;
		width: 36px;
		height: 36px;
		line-height: 36px;
		cursor: pointer;
		text-align: center;
		right: .4rem;
		font-size: 1.3rem;
		top: 50%;
		margin-top: -18px;
		color: rgba(0,0,0,.3);

		&:before {
			@include mb2_font_fa();
			content: '\f107';
		}

		&.active {
			&:before {
				content: '\f106';
			}
		}
	}


	.progress {
		margin: 0 0 -1px 0;
		@include mb2_border_radius(0 0 .15rem .15rem);
		height: 36px;

		.progress-bar {
			line-height: 36px;
			font-size: $fsheading4;
			font-weight: $fwheadings;
			min-width: 50px;
		}
	}


	.student-panel-b {
		background-color: $color_gray2;
		background-image: url([[pix:theme|svg/strip1_black8]]);

		.box {
			background-color: $color_success;
			color: #fff;
			text-align: center;
			@include mb2_border_radius(.15rem);
			overflow: hidden;

			a {
				color: #fff;

				> h3 {
					color: #fff;
					margin: 0;
					padding: 9px 15px;
					background-color: rgba(0,0,0,.1);
				}

				i {
					font-size: 46px;
					margin: 13px 0;
				}
			}

			&.box-studentbadges {
				background-color: $color_warning;
			}


			&.box-competencies {
				background-color: $color_info;
			}


		}

	}

}


.panel-link {
	@include clearfix();
	background-color: lighten($color_gray2, 2.5%);
	padding: .28rem;
	margin-bottom: .8rem;
	border: solid 1px rgba(0,0,0,.07);
	@include mb2_border_radius(.15rem);
	cursor: pointer;
	float: right;

	.panel-text {
		position: relative;
		top: .11rem;
		margin: 0 .7rem;
	}

	.panel-icon {
	    background-color: $accent1;
	    color: #fff !important;
	    display: inline-block;
	    width: 1.9rem;
	    height: 1.9rem;
	    text-align: center;
	    line-height: 1.9rem;
	    font-size:1rem;
		@include mb2_border_radius(.15rem);
	    float: right;
	}
}
