

/* Contaicner width for theme tester plugin */

.container {
	max-width: 100%;
}

.container-fluid {
	max-width: $pagewidth;


	.theme-lfx &,
	.custom-login & {
		padding-left: 30px;
		padding-right: 30px;
	}

}

.pagelayout-embedded {
	.container-fluid,
	.row {
		> div {
			position: static;
		}
	}
}



@media only screen and (max-width: $tablet_width){
	.container-fluid {
		.theme-lfx &,
		.custom-login & {
			padding-left: 15px;
			padding-right: 15px;
		}
	}
}



#page {
	margin: 0;

	#page-a,
	#page-b {
		background-color: #fff;
	}
}

#page-content {
	> div[role="main"] {
		@include clearfix();
	}
}




/* Fixed layout */

.theme-lfx {

	#page {
		width: 95%;
		max-width: $fx_pagewidth;
		margin: auto;
		padding: 40px 0;
	}

	background-color: $color_gray2;

}





/* Fixed bar */
.fixed-bar {

    width: 530px;
    position: fixed;
    z-index:999;
	@include mb2_transform_rotate(270deg, 0 0);
    transform-origin: 0% 0%;
	top: 530px;
	text-align: center;

	a {
		display: inline-block;
		background-color: $accent1;
		font-size: $fssmall;
		padding: .2rem 1rem;
		color: #fff;

		&:hover,
		&:focus {
			color: #fff;
			outline: 0;
		}

		&.iconbutton {
			padding: 0;
			width: 32px;
			height: 32px;
			line-height: 32px;
			font-size: 17px;
			text-align: center;
		}

		&.fixed-panel-link {
			background-color: $btncolor;
			display: none;
		}
	}

	.panellinkpass & {
		.fixed-panel-link {
			display: inline-block;
		}
	}

	.editing & {
		.theme-hide-sidebar {
			display: none;
		}
	}


	.dir-rtl & {
		@include mb2_transform_rotate(90deg, 0 0);
	    transform-origin: 100% 0%;
	}


}


.content-col {

	&#region-main {
		padding: 0 15px;
		border: 0;
		overflow: visible;
		min-width: 0;
	}
}


@media only screen and (max-width: $tablet_width){
	.theme-hide-sidebar {
		display: none;
	}

	.content-col {
		order: 1 !important;
	}


	.sidebar-col {
		margin-top: 30px;
		order: 2 !important;
	}

}


@media only screen and (min-width: $tablet_width){

	.sidebar-col {
		.hide-sidebars & {
			display: none;
		}

		.editing-fw.editing & {
			width: 50% !important;
			max-width: 50% !important;
			flex-basis: 50% !important;
			left: 0 !important;
			right: 0 !important;
			order: 2;
		}
	}

	.content-col {

		.hide-sidebars &,
		.editing-fw.editing & {
			width: 100% !important;
			max-width: 100% !important;
			flex-basis: 100% !important;
			left: 0 !important;
			right: 0 !important;
			order: 1;
		}

	}



}



/* Hide some region from none-admin users */

.theme-hidden-region {
	display: none !important;
}

.hiddenel {
	opacity: .4;

	.hiddenel {
		opacity: 1;
	}
}



/* Full screen mode */

.theme-full-screen {

	#page-a,
	.sidebar-col,
	#bottom,
	#bottom-abcd,
	#footer,
	.admin-region,
	.theme-hide-sidebar,
	.theme-cbanner,
	.theme-iconnav {
		display: none;
	}

	#main-content {
	}

	.content-col {
		width: 100%;
		padding: 20px;
		max-width: 100% !important;
		flex-basis: 100% !important;
		background-color: #fff;
	}

	.container-fluid {
		max-width: 98%;
	}

}
