/* Direct navigation */

.mb2slides {

	.lSAction {


		> a {
			background-color: rgba(0,0,0,.3);
			line-height: 50px;
			width: 50px;
			height: 50px;
			margin-top: -25px;
			text-align: center;
			font-size: 2rem;
		    opacity: 0;
			color: #fff !important;
			text-decoration: none !important;
			outline: none !important;
			@include mb2_transition1(all, .15s);

			&.lSPrev {
				left: 15px;
			}


			&.lSNext {
			    right: 15px;
			}

			&:hover {
				background-color: rgba(0,0,0,.7);
			}
		}
	}

	&:hover {
		.lSAction {
			> a {
 				opacity: 1;
			}
		}
	}

	&.navdir2 {
		.lSAction {
			display: none;
		}
	}

}



@media only screen and (max-width:768px){

	.mb2slides {
		.lSAction {
			> a {
				line-height: 36px;
				width: 36px;
				height: 36px;
				margin-top: -18px;
				font-size: 19px;
			}
		}
	}

}

/* Page navigation */

.mb2slides {

	.lSPager.lSpg {
		position: relative;
		margin-top: -40px;
	}

	.lSSlideOuter {
		.lSPager.lSpg {
			> li {
				a {
					background-color: rgba(0,0,0,.3);
					@include mb2_transition1(all, .15s);
					outline: none;
					width: 15px;
					height: 15px;

					&:hover {
						background-color: rgba(0,0,0,.7);
					}
				}
			}

			&.active {
				a {
					background-color: rgba(0,0,0,.7);
				}
			}
		}
	}

}



/* Navigation in description */

.mb2slides-captionnav {
	background-color: $accent2;
	position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 36px;
	margin-bottom: -1px;

	> span,
	> a {
		display: inline-block;
		margin: 0;
		height: 36px;
		line-height: 36px;
		text-align: center;
		width: 33.3333333333%;
		position: relative;
		color: #fff !important;
		overflow: hidden;
		cursor: pointer;
		vertical-align: bottom;

		&:after {
			content: '';
			display: block;
			width: 1px;
			height: 100%;
			border-right: solid 1px rgba(255,255,255,.5);
			position: absolute;
			top: 0;
			right: 0;
		}

		&:last-child {
			&:after {
				display: none;
			}
		}

		&.mb2slides-btn {
			background-color: $accent1;
		}
	}


	&.nolink {
		> span {
			width: 50%;
		}
	}

	> span {
		font-size: 1.4rem;
	}
}
