
$field_width: 17rem;

.form-control {
	font-weight: inherit;
}

input[type="text"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="url"],
textarea,
select {
	background-color: #fff;
	color: $textcolor !important;
	border: solid 1px $color_border;
	font-weight: inherit;
	padding: 0 .6rem;
	min-height: 2rem;
	width: $field_width;
	max-width: 100%;
	@include mb2_border_radius(.15rem);

	&.form-control {
		width: $field_width;
		max-width: 100%;
		font-size: inherit;
		font-weight: inherit;

		&[size] {
			min-width: $field_width;
		}
	}
}

textarea {
	min-height: 6rem;
	width: 100%;
	min-width: $field_width;
	line-height: inherit;

	.form-textarea &,
	&.form-control {
		width: 100%;
	}
}

select {
	height: 2rem;

	&.custom-select {
		padding-top: 0;
		padding-bottom: 0;
		width: $field_width !important;
		max-width: 100%;
		font-weight: inherit;
	}

	option {
		font-weight: inherit;
	}

	.fdate_selector &.custom-select,
	.fdate_time_selector &.custom-select  {
		width: auto !important;
	}

	&[multiple] {
		min-height: 8rem;
		height: auto;
		width: $field_width !important;
		max-width: 100%;
	}

	.userselector & {
		height: auto;
		width: 100%;
	}
}


/* Hide search from in main content container */

#main-content #coursesearch {
	display: none;
}


small,
.small,
#page-admin-search .adminpagepath li {
	font-weight: inherit;
}


/* Move settings button to the left */

.settingsform {
	> .row {
		> .offset-sm-3 {
			margin-left: 0;
		}
	}

	fieldset {
		margin-bottom: 1.2rem;
	}
}


/* heading in admin forms */

#adminsettings h3 {
	border: 0;
	line-height: inherit;
	margin-top: 1rem;
}



.text-info,
.highlight {
	color: $color_info !important;
}


.collapsible-actions {
	margin-bottom: 1.35rem;
}

.fdescription {
	font-size: $fssmall;
	color: $textcolor_lighten;

	.icon {
		margin-right: 0;
	}
}


/* Atto editor */

.editor_atto {
	z-index: 4; // This is require for 'Full screen' plugin
}

[data-fieldtype="editor"] {
	> div {
		width: 100%;
	}
}

.editor_atto_content {
	&.form-control {
		border: 0;
	}
}

.editor_atto_toolbar {

	border-color: $color_border !important;
	background-color: $color_gray2 !important;

	button {
		padding-top: 0 !important;
		padding-bottom: 0 !important;
	}
}

.editor_atto_content_wrap,
.editor_atto + textarea {
	border-color: $color_border !important;
}


.CodeMirror-scroll {
	background-color: rgba(0,0,0,.025);
}

/* File manager */


.filemanager {

	.fp-navbar {
		border: solid 1px rgba(0,0,0,.15);
		border-bottom: 0;
		background-color: $color_gray2;

		.fp-pathbar {
			border-top: solid 1px rgba(0,0,0,.15);
			background-color: rgba(0,0,0,.03);
		}
	}

	.filemanager-container {
		border: solid 1px rgba(0,0,0,.15);
	}

	.fp-restrictions,
	.dndupload-message {
		font-size: $fssmall;
	}

	.fp-restrictions {
		color: $textcolor_lighten;
	}

	.filemanager-toolbar {
		.btn {
			padding: .15rem .5rem;
			line-height: 1;
		}
	}

	.fp-path-folder {
		background-size: 1rem 1rem;
	    background-position: left 0;
		margin-left: 4px;
		font-size: $fssmall;

		a {
			color: inherit;
		}
	}


	.fp-content {
		font-size: $fsxsmall;
		line-height: $fsxsmall_lh;

		a {
			color: inherit !important;
		}


		.fp-iconview {

			.fp-thumbnail {
				border-color: rgba(0,0,0,.1);
				min-width: 112px;
				min-height: 112px;
				line-height: 112px;

				img {
					padding: 0;
					border: 0;
				}
			}



			.fp-filename {
				background-color: rgba(0,0,0,.1);
				padding: .25rem;
			}


		}


	}


}


[data-fieldtype="filepicker"] {
	> [id*="filepicker"] {
		border: solid 1px rgba(0,0,0,.1);
		background-color: rgba(0,0,0,.02);

		.btn {
			margin: .7rem 0 0 .7rem;
			@include button-size(.19rem, .55rem, $fssmall, $fssmall_lh, .15rem);
		}
	}

	.filepicker-filelist {
		margin-top: .7rem;
		background-color: #fff;
		border-top: solid 1px rgba(0,0,0,.1);
		padding: .6rem;
	}

	> p,
	.form-filetypes-descriptions {
		font-size: $fssmall;
		color: $textcolor_lighten;
		margin-bottom: 0;
	}
}


/* Other form elements */

.mform {
	fieldset {
		border-bottom: 0;
	}
}

.moreless-toggler {
	@include mb2_button($btncolor);
	@include button-variant($color_success, $color_success);
	@include button-size(.19rem, .55rem, $fssmall, $fssmall_lh, .15rem);
	margin-top: 1.3rem;

	&.moreless-less {
		@include button-variant($color_danger, $color_danger);
	}
}

#installfromrepobox {
	margin-bottom: 0;
}


/* File form field */

.fp-formset input[type="file"] {
	font-weight: inherit;
	background-color: rgba(0,0,0,.05);
	background-image: url([[pix:theme|svg/strip1_black8]]);
    padding: .4rem;
    width: 100%;
}


.form-autocomplete-suggestions {
	z-index: 3;
}
